<footer>
    <div class="page">
      © 2017 Site by []
    </div>
  </footer>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src='/src/main.js'></script>
</body>
</html>
