<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Emotion Tracker App</title>
 <link href="https://fonts.googleapis.com/css?family=Belleza|Trochut|Roboto:400,500"" rel="stylesheet">

 <script src="http://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/css/reset.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<div id="wrappingHeader">
<div id="logoHeader">
<h1 id='logoTitle'>Emotion</h1>
<h3 id='logoTitle2'> your personal emotions track application</h3>
</div>
<header id="headerindex">
    <div class="page">
      <nav id="navindex">
        <ul>
          <li><a id="homeLink" href="/">Home</a></li>
          <li><a id="aboutLink" href="/">About</a></li>
          <li><a id="todoLink" href="/emotions">Analysis</a></li>
        </ul>
      </nav>
    </div>
  </header>
  </div>


