<% include ./partials/headerindex.ejs %>

   <section class="page" id="midSection">
    <div class="Welcome">
    <p id="pindex"> This app gives you an easy and efficient way to track your emotions. Most of the times,
    we can tell what our emotions are, and how strong they are. However, sometimes there are might be some
    persistent changes in our emotions we are not aware of, and these changes can be persistent and affect
    our life. Or, we might feel exhausted sometimes, and still tell ourselves we are okay. So, this app is
    an objective watcher of our emotions that would be able to ‘read’ our emotions from our pictures. All
    you have to do is to take pictures of yourselves, the app will detect your emotions and store the data.
    So, at the end of some period, a week or a month, you can check how you've been.</p>
    </div>

      <form action=/emotions/add>
         <input id="nameindex" name='username' type='text' placeholder='user name' />
         <input id="nameindex" name='username' type='text' placeholder='password' />
         <input id="startindex" type="submit" value="get started"/>
      </form>

    </section>


<% include ./partials/footer.ejs %>
