<% include ./partials/header.ejs %>

   <section class="page" id="midSection">
    <div class="Welcome">
    <h1>Welcome to emotions track App!</h1>
    </div>

      <form action=/emotions/add>
         <input id="landing" type="submit" value="get started"/>
      </form>

    </section>


<% include ./partials/footer.ejs %>
