body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  /*font-family: 'Belleza', sans-serif;
  font-family: 'Trochut', cursive;*/
}

#logoTitle {
  font-family: 'Belleza', sans-serif;
  font-size: 60px;
  margin: 0 auto;
  line-height: 1.5;
}

#logoTitle2 {
  color: rgb(155,150,147);
  letter-spacing: 1px;
  margin: 0 auto 20px;
}

#headerindex {
  overflow: hidden;
  border-bottom: 1px solid rgb(167,163,160);
  border-top: 1px solid rgb(155,150,147);
  padding: 0 3%;
  font-size: 20px;
  line-height: 1;
  display: flex;
}

#navindex {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

#pindex {
  font-size: 20px;
  max-width: 850px;
}
.page {
  max-width: 1280px;
  margin: auto;
  font-size: 20px;
}

#logo {
  height: 60px;
  width: 60px;
  float: left;
  margin: 5px 0 0 0;
}

img {
  width: 100%;
  height: 100%;
}
#header {
  overflow: hidden;
  border-bottom: 2px solid;
  padding: 0 3%;
  font-size: 20px;
}

#navbar {
  float: right;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

li {
  float: left;
}

a {
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  color: black;
}

a:hover {
  color: #5aadc9;
}


footer {
  color: ;
  padding: 2% 3%;
  text-align: center;
  border-top: 1px solid rgb(155,150,147);
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

#midSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;

}

#midSection2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 50px;
  /*height: 400px;*/
}

#midSection3 {
  background-color: skyBlue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 50px;
  /*height: 400px;*/
}

h1 {
  font-size: 2em;
  line-height: 2;
  text-align: center;
}

#landing {
  width: 120px;
  height: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 100%;
  background: rgb(255,249,200);
  color: black;
  display: block;
  text-align: center;
  padding: 12px 12px 16px;
  box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
  border-radius: 5px;
}

#inEmotions {
  width: 85px;
  height: 35px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 15px;
  background: #5aadc9;
  color: black;
  display: block;
  text-align: center;
  padding: 0 0 7px;
  box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
  border-radius: 5px;
  margin: 0 0px;
}

#emotionList {
  margin: 0 auto;
  margin-top: 50px;
  width: 400px;
  display: flex;
  flex-direction: column;

}

.emotion {
 box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  width: 470px;
  height: ;
  padding: 0;
  margin: 0 auto;
  border: 1px solid rgb(95,110,121);
  border-radius: 10px;
}

.emotion:hover {
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    border: 2px solid #5aadc9;
    font-size: 105%;

}

.emotionText {
 /* border-radius: 50%;
  border: 1px solid rgb(95,110,121);*/

  /*border-bottom: 1px solid rgb(95,110,121);*/
/*box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
*/}


#addEmotion {
  width: 470px;
  height: 50px;
/*  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
*/  /*border: 1px solid rgb(95,110,121);*/
  text-align: center;
  border-radius: 5px;
  padding-bottom: 10px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: bold;
}

.spanDate {
font-size: 90%;
}

.spanUser {
  font-weight: bold;
  font-size: 105%;
}

.spanThoughts {
  font-size: 90%;
}


.inline {
  width: 400px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  line-height: 50px;
  justify-content: space-around;
  align-items: center;
}

#title {
  padding-left: 15px;
  flex: 0 0 78%;
}
#status {
  flex: 0 0 23%;
  padding-left: 5px;
}

#category {
  padding-left: 15px;
  flex: 0 0 42%;
}

#clicks {
  flex: 0 0 60%;
  display: flex;
  justify-content: center;
  width: 470px;
  margin-bottom: 15px;
}
.addTitle {
  margin: 0 auto;
  margin-bottom: 20px;
}

.addWrapper {
  width: 700px;
  display: flex;
  margin: 0 auto;
  justify-content: center;

}

.addInput {
  width: 225px;
  height: 33px;
  font-size: 17px;
  margin: 2px auto;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  display: flex;
}

.scoreName {
  width: 195px;
  height: 30px;

}
.score {
  width: 30px;
  height: 28px;
  border-radius: 3px;
  display: inline-block;
  border-width: 0;
  border-width-left: 1px;
  border-left: 1px;
}

.scoreWord {
  text-align: left;
  font-size: 20px;
  color: rgb(95,110,121);
}

#selectUser {
  width: 169px;
  height: 20px;
  font-size: 16px;
  line-height: 20px;
}
 option {
  font-size: 20px;
 }
#formAddScore {

}

#descInput {
  height: 100px;
  vertical-align: top;
  opacity: 0.5;
}
#desc {
  width: 390px;
  color: initial;
}



.oneEmotion {
  width: 400px;
  margin: auto;
  margin-top: 50px;
}

p {
  font-size: 16px;
  font-weight: normal;
}

#oneEmotionP {
  width: 400px;
  height: 130px;
  border: 1px solid;
  border-radius: 10px;
}

#singleEmotion {
  text-align: center;
}

.addWrapper {
  width: 600px;
  display: flex;
  margin: 0 auto;
}

#editBack {
  text-align: center;
}
#addThoughts {
  height: 52px;
  margin-bottom: 10px;
  border-top-width: 0;
  border-left-width: 0;
}

#addThoughts:hover {

}

#addSubmit {
  width: 225px;
  height: 30px;
  font-size: 20px;
  padding: 2px 5px 10px;
/*  background-color: #3F51B5;
*/  border-radius: 1px;
  color: white;
}

.card {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  height: 270px;
  width: 240px;
  margin-right: 20px;
  border-radius: 10px;
}

.file-upload-container {
    width: 240px;
    height: 29px;
    background: #3F51B5;
    transition: all 150ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    text-align: center;
    color: white;
    line-height: 50px;
    font-weight: 300;
    font-size: 20px;
    padding: 2px 0px 2px;
    text-align: center;
    line-height: 30px;
/*    border-radius: 5px;
*//*    border-radius: 10px;
*/}

.file-upload-container:hover {
    cursor: pointer;
    background: #3949AB;
}

